{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h3>
       {% for user in userinfo %}
       You have {{ user.cash }} dollars left
       {% endfor %}
    </h3>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Sponsorship</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
                <tr>
                    <td>{{ transaction.title }}</td>
                    <td>{{ transaction.money }}</td>
                    <td>{{ transaction.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}